/*! This file is part of the Nexcess MAPPS MU plugin */
#wp-admin-bar-nexcess-mapps .ab-icon{width:20px;height:28px;color:#a0a5aa;color:rgba(240,245,250,.6);transition:all .1s ease-in-out}#wp-admin-bar-nexcess-mapps.hover .ab-icon,#wp-admin-bar-nexcess-mapps:hover .ab-icon{color:inherit}#wp-admin-bar-nexcess-mapps .ab-icon svg{margin-top:4px}#wp-admin-bar-nexcess-mapps .button{min-height:0;padding:0;line-height:2;vertical-align:text-bottom;color:inherit;background:none;border:none}#wp-admin-bar-nexcess-mapps .button:active,#wp-admin-bar-nexcess-mapps .button:focus,#wp-admin-bar-nexcess-mapps .button:hover{color:#00b9eb}#wp-admin-bar-det_env_type.det-production{background-color:rgba(185,42,42,.8)!important}#wp-admin-bar-det_env_type.det-staging{background-color:rgba(215,157,0,.8)!important}#wp-admin-bar-det_env_type.det-development{background-color:rgba(59,152,67,.8)!important}
